/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}
.wy-side-nav-search, .wy-nav-top {
    background: #5f9ea0;
}
