# {{ gen.name(element) }}

{{ element.description }}

URI: {{ gen.uri_link(element) }}

## Parent Classes
{% if schemaview.class_parents(element.name) %}
{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
None
{% endif %}


{% if schemaview.class_children(element.name, mixins=False) %}

## Children

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}

## Slots

| Name | Description  |
| ---  | ---  |
{% for s in schemaview.class_induced_slots(element.name) -%}
| {{gen.link(s)}} | {{ s.description }} |
{% endfor %}

## Mappings




{% include "common_metadata.md.jinja2" %}

