# This is a basic workflow to help you get started with Actions

name: Run tests

# Controls when the action will run.
on:
  pull_request:
    types: [opened, synchronize, reopened]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    types: trigger-run-tests

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.9", "3.10" ]

    runs-on: ${{ matrix.os }}

    steps:

      #----------------------------------------------
      #          install poetry
      #----------------------------------------------
      - name: Install Poetry
        run: pipx install poetry

      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      #----------------------------------------------
      #    install your root project, if required
      #----------------------------------------------
      - name: Install library
        run: poetry install --no-interaction

      - name: Run tests
        run: |
          poetry run make test
          poetry run python scripts/verify_infores.py




